@media screen and (max-width: 430px){
    .card-design{
        flex-direction: column;
        justify-content: center;
        height: 1400px;
    }
}
@media screen and (min-width: 431px) and (max-width: 576px) {
    .card-design{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}